*{margin:0px; padding:0px;}
body{
	background-image: url(../IMAGE/background.png);
	background-attachment: fixed;
	width:100%;
	height:100%;
}

header, nav, section, aside, footer{
	min-height:50px;	
	margin-left: auto;
	margin-right: auto;
}
header{
	height: 15%;
	width: 75%;
	background-color: rgb(103,108,109);
	border-radius: 0px 0px 48% 48%;
	overflow: auto;
		box-shadow: 5px 5px 20px #555;
}

.logo{
	width: 100%;
	height: 100%;
}

.colorTextInscription{
	color: white;
}

#Pseudo{
	display: inline-block;
	position: relative;
	top: 5%;
	left: 14%;
}

#MotDePasse{
	display: inline-block;
	position: relative;
	top: 10%;
	left: 5%;
}

#Submit{
	background-image: url(C:\Users\Alexis\Desktop\Projet PPE\_Code\IMAGEok.png);
	margin-left: 5%;
}

#textInscription{
	display: inline-block;
	position: relative;
	top: 20%;
	left: 5%;
}

header .logo{
	width: 69.5%;
	height: 100%;
	display: inline-block;
	float: left;
}

header .inscription{
	width: 30%;
	height: 100%;
	background-image: url(../IMAGE/log.png);
	background-position: center;
	display: inline-block;
	float: right;
}

nav{
	width: 15%;
	text-align: center;
}

section{
	min-height: 110%;
	max-height: 500%;
	max-width: 65%;
	text-align:center;
	overflow: auto;
	border: 3px double black;
	border-radius: 10%;
	box-shadow: 5px 5px 20px #555;
	overflow-x: hidden;
	background-image: url(../Image/calque1.png);
}

section ul{
     display: table;
     width:6000px;
     -webkit-animation: slideAnim 30s ease 0s infinite;
        -moz-animation: slideAnim 30s ease 0s infinite;
         -ms-animation: slideAnim 30s ease 0s infinite;
          -o-animation: slideAnim 30s ease 0s infinite;
             animation: slideAnim 30s ease 0s infinite;
}

section ul li{
     display: table-cell;
     width:300px;
}

@-webkit-keyframes slideAnim{
from,15%,to {margin-left:16px;}
20%,35%{margin-left:-1183px;}
40%,55%{margin-left:-2382px;}
60%,75%{margin-left:-3581px;}
80%,95%{margin-left:-4780px;}
}
@-moz-keyframes slideAnim{
from,15%,to {margin-left:16px;}
20%,35%{margin-left:-1183px;}
40%,55%{margin-left:-2382px;}
60%,75%{margin-left:-3581px;}
80%,95%{margin-left:-4780px;}
}
@-ms-keyframes slideAnim{
from,15%,to {margin-left:16px;}
20%,35%{margin-left:-1183px;}
40%,55%{margin-left:-2382px;}
60%,75%{margin-left:-3581px;}
80%,95%{margin-left:-4780px;}
}
@-o-keyframes slideAnim{
from,15%,to {margin-left:16px;}
20%,35%{margin-left:-1183px;}
40%,55%{margin-left:-2382px;}
60%,75%{margin-left:-3581px;}
80%,95%{margin-left:-4780px;}
}
@keyframes slideAnim{
from,15%,to {margin-left:16px;}
20%,35%{margin-left:-1183px;}
40%,55%{margin-left:-2382px;}
60%,75%{margin-left:-3581px;}
80%,95%{margin-left:-4780px;}
}

aside{
	display: block;
	float: left;
	width: 60%;
	height: 60%;
	overflow: auto;
	display: inline-block;

	position: absolute;
	top: 72.3%;
	left: 20%;
}

.description{
	max-width: 85%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 10px;
	border: 3px inset gray;
	border-radius: 10%;
	box-shadow: 5px 5px 20px #555;
	font-family: tahoma;
	background-image: url(../IMAGE/calque1.png);
}

aside .forum{
	max-width: 49.5%;
	height: auto;
	text-align: center;
	display: inline-block;
	float: left;
}

#forum{
	max-width: 90%;
	height: auto;
}

aside .achatVente{
	max-width: 49.5%;
	height: auto;
	text-align: center;
	display: inline-block;
	float: right;
}

#achatVente{
	max-width: 90%;
	height: auto;
}


footer{
	height: 14%;
	width: 100%;
	max-height: auto;
	margin-top: 5%;


}

.visitCompt{
	position: inherit;
	top: 9%;
	width: 15%;
	height: 100%;
	display: inline-block;
	float: left;
	margin-top: 2%;
}

.credit{
	width: 85%;
	height: 110%;
	display: inline-block;
	float: left;
	overflow: hidden;
}